# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# VS Code
.vscode/

# Data files (raw data should not be in Git)
data/
*.csv
*.xlsx

notes/

# Ignore config file with sensitive info
config.yaml


LOG_DIR/

# output files
output/
!output_masked/